# --------------------------------------------------------------------
# Ignore Mac files

.DS_Store

# --------------------------------------------------------------------
# Ignore IntelliJ IDEA files

.idea/
*.iml

# --------------------------------------------------------------------
# Ignore Maven builds

target/

# --------------------------------------------------------------------
# This files are used only for development and are generated
# by shell scripts. They should never get into repo the repo.

searchPage/src/main/webapp/search_app.js
profilePage/src/main/webapp/profile-testing-only.js
